/* !FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Poppins:wght@300;400&display=swap');
/* !BASE STYLES/RESET */
*,
*::before,
*::after{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

:root{
    --light-color: #f3f3fe;
    --dark-color: #363636;
    --border-top-color: rgba(0,0,0,.1);
    --link-hover-color: rgba(255,255,255,.2);
    --title-font-family: 'Playfair Display', 'serif';
    --body-font-family: 'Poppins', 'sans-serif';
    --container-padding: 1.5rem;
    --section-vertical-spacing: 8rem;
}

html{
  /* 10px */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body{
  font-family: var(--body-font-family);
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: var(--light-color);
  color: var(--dark-color);
  overflow-x: hidden;
}

body.dark-theme{
  --light-color: #000;
  --dark-color: #fff;
  --border-top-color: rgba(255,255,255,.1);
}

a{
  text-decoration: none;
  color: inherit;
  outline: none;
}

img{
  max-width: 100%;
  display: block;
}

ul{
  list-style: none;
}

span{
  display: inline-block;
}

i{
  font-size: 2.4rem;
}

input,
button,
textarea{
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
}

/* !HEADER */
.header{
  margin-bottom: 5rem;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
  position: relative;
}

.logo{
  font-family: var(--title-font-family);
  font-size: 3rem;
  font-weight: 600;
}

.navbar-buttons{
  display: flex;
  column-gap: .5rem;
  padding: 0.5rem;
  background-color: var(--dark-color);
  color: var(--light-color);
  border-radius: .4rem;
  position: relative;
  z-index: 999;
}

.button{
  cursor: pointer;
}

.icon-button{
  width: 4rem;
  height: 4rem;
  display: flex;
}

.icon-button i{
  margin: auto;
}
.theme-on{
  display: none;
}
.dark-theme .theme-off{
  display: none;
}
.dark-theme .theme-on{
  display: block;
}

/*
?RADIAL GRADIENT
?background: radial-gradient(50% 50% at 50% 50%, rgba(255, 101, 118, .08) 0%, rgba(255, 101, 118, 0) 100%);
*/
/* !REUSABLE CLASSES */

.container{
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 var(--container-padding)
}
.section{
  padding-block: var(--section-vertical-spacing);
  position: relative;
}

.d-grid{
  display: grid;
}
.header_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px 20px 0 20px;
}

.header_container .heading{
  width: 50%;
  padding-bottom: 50px;
}
.header_container .heading h3{
  font-size: 3em;
  font-weight: bolder;
  padding-bottom: 10px;
  border-bottom: 3px solid #222;
}

.header_container .heading h3 span{
  font-weight: 100;
}

.sophie-cards{
  gap: 2.5rem;
}

.dream{
  height: 40rem;
  background-color: #b3bbce;
  margin-bottom: 3.5rem;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color .25s;
}


.dream img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 1rem;
}


.sophie-card .dream:hover,
.sophie-card .dream:focus{
  transform: scale(1.05);
  background-color: #ff7575;
}

/* !FOOTER STYLES */
/* FIXX */
.list{
  display: flex;
  gap: 2.5rem;
}

.footer-container{
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 1.5rem;
   border-top: 1px solid var(--border-top-color);
   padding-top: 5rem;
   padding-bottom: 1.5rem;
}

.footer .list-link{
   color: var(--dark-color);
  }

  .list-link:hover{
    opacity: .7;
  }
  .scroll-top:hover,
  .scroll-top:focus{
    opacity: .7;
  }

.scroll-top{
  display: flex;
  align-items: center;
  color: var(--dark-color);
}



/* !SCROLLBAR */
::-webkit-scrollbar{
  width:1rem;
}

::-webkit-scrollbar-track{
  background-color: var(--dark-color);
}

::-webkit-scrollbar-thumb{
  background-color: #b3bbce;
}

::-webkit-scrollbar-thumb:hover{
  background-color: #808694
}

/* !MEDIA QUERIES */

@media only screen and (min-width: 768px){
.container .heading{
  max-width: 96rem;
}
.container .heading h3{
  font-size: 1em;

}

.sophie-cards{
  grid-template-columns: repeat(8, 1fr);
}

.sophie-1{
   grid-column: 1/4;
   grid-row: 1/span 10;
}
.sophie-2{
   grid-column: 4/-1;
   grid-row: 2/span 10;
 }
 .sophie-3{
    grid-column: 1/6;
    grid-row: 11/span 10;
 }
 .sophie-4{
    grid-column: 6/-1;
    grid-row: 12/span 10;
 }
 .sophie-5{
    grid-column: 1/4;
    grid-row: 21/span 10;
 }
 .sophie-6{
    grid-column: 4/-1;
    grid-row: 22/span 10;
 }
 .sophie-7{
    grid-column: 1/6;
    grid-row: 31/span 10;
 }
 /* .sophie-8{
    grid-column: 5/-1;
    grid-row: 32/span 10;
 }
 .sophie-9{
    grid-column: -9/-4;
    grid-row: 41/span 10;
 } */
 .sophie-10{
    grid-column: 6/-1;
    grid-row: 32/span 10;
 }
 .sophie-11{
    grid-column: 1/5;
    grid-row: 41/span 10;
 }
 .sophie-12{
    grid-column: 5/-1;
    grid-row: 42/span 10;
 }
 .sophie-13{
    grid-column: -9/-4;
    grid-row: 51/span 10;
 }
 .sophie-14{
    grid-column: 6/-1;
    grid-row: 52/span 10;
 }
 .sophie-15{
    grid-column: -7/-3;
    grid-row: 61/span 10;
 }
.footer-container{
  padding-block: 5rem;
}


}
